@model AbstractFactory.Maze
@using AbstractFactory
@using WebApplication1.Helpers

@{
    ViewBag.Title = "EnchantedMaze";
}

<div class="jumbotron">
    <h1>Maze built with the Enchanted Maze Factory</h1>
</div>

<div class="row">

    @foreach (Room r in Model.Rooms)
    {
        @MyHtmlHelpers.FormattedRoomDiv(r)
    }

</div>
