@model AbstractFactory.Maze
@using AbstractFactory
@using WebApplication1.Helpers

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maze built with the Standard Maze Factory</h1>
</div>


<div class="row">
    
    @foreach (Room r in Model.Rooms)
    {
        @MyHtmlHelpers.FormattedRoomDiv(r)
    }
  
</div>
