@model AbstractFactory.Maze
@using AbstractFactory
@using WebApplication1.Helpers

@{
    ViewBag.Title = "Maze with a bomb";
}

<div class="jumbotron">
    <h1>Maze built with the Bombed Maze Factory</h1>
</div>


<div class="row">

    @foreach (Room r in Model.Rooms)
    {
        @MyHtmlHelpers.FormattedRoomDiv(r)
    }

</div>


